################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyCalculator/MyCalculator/obj/Debug
/MyCalculator/MyCalculator.Tests/bin/Debug
/MyCalculator/.vs/MyCalculator/v16
/MyCalculator/MyCalculator.Tests/obj/Debug
